@tailwind base;
@tailwind components;
@tailwind utilities;

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.cell {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}
animate-broken {
    animation: shake 0.5s linear infinite;
}
@keyframes shake {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
}
